.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #284456;
  padding-bottom: 1rem;

  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80rem;
  }

  &__logo > img{
    margin-top: 3rem;
    height: 8rem;

    @include respond(tab-port){
      height: 10rem;
    }

  }

  &__phrase{
    margin-top: 3rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    font-family: 'Segoe UI Semibold';

    @include respond(tab-port){
      font-size: 2.5rem;
    }

    @include respond(tab-land){
      font-size: 3rem;
    }

  }

  &__search{
    display: flex;
    margin-top: 3rem;
    background-color: #fff;
    width: 100%;

    &__img{
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      & > img{
        height: 2rem;
        @include respond(tab-port){
          height: 2.2rem;
        }

        @include respond(tab-land){
          height: 2.4rem;
        }
      }
    }

    &  input {
      width: 90%;
      outline: none;
      padding: 1rem 0.8rem;
      font-size: 1.6rem;
      font-weight:bold;
      border: none;

      @include respond(tab-port){
        font-size: 2rem;
      }

      @include respond(tab-land){
        font-size: 2.4rem;
      }
    }
  }

  &__title-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    & > img{
      height: 2rem;
      margin-right: 1rem;

      @include respond(tab-port){
        height: 3rem;
      }
    }

    & > p{
      font-size: 1.8rem;
      color: #fff;
      font-family: 'Segoe UI Semibold';

      @include respond(tab-port){
        font-size: 2.2rem;
      }
    }
  }
}
