.backgroundCard-Normal{
    background-color: #fff;
    color: black;
}

.backgroundCard-Fighting{
    background-color: #B64D19;
    color: #fff;
}

.backgroundCard-Flying{
    background-color: #277BA1;
    color: #fff;
}

.backgroundCard-Poison{
    background-color: #823EC3;
    color: #fff;
}

.backgroundCard-Ground{
    background-color: #8A8331;
    color: #fff;
}

.backgroundCard-Rock{
    background-color: #715C3D;
    color: #fff;
}

.backgroundCard-Bug{
    background-color: #2F9651;
    color: #fff;
}

.backgroundCard-Ghost{
    background-color: #83417A;
    color: #fff;
}

.backgroundCard-Fire{
    background-color: #A8282B;
    color: #fff;
}

.backgroundCard-Water{
    background-color: #145EAB;
    color: #fff;
}

.backgroundCard-Grass{
    background-color: #7D8545;
    color: #fff;
}

.backgroundCard-Electric{
    background-color: #BA9A22;
    color: #fff;
}

.backgroundCard-Psychic{
    background-color: #452A8D;
    color: #fff;
}

.backgroundCard-Ice{
    background-color: #659DBA;
    color: #fff;
}

.backgroundCard-Dragon{
    background-color: #D57931;
    color: #fff;
}

.backgroundCard-Dark{
    background-color: #232424;
    color: #fff;
}

.backgroundCard-Fairy{
    background-color: #BA65A0;
    color: #fff;
}

.backgroundCard-Shadow{
    background-color: #414141;
    color: #fff;
}

.backgroundCard-Unknown{
    background-color: #9A9A9A;
    color: #fff;
}