.container-cards{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 0;
    justify-content: space-around;

    &__card{
        position: relative;
        perspective: 150rem;
        -moz-perspective: 150rem;
        height: 16rem;
        width: 15.5rem;
        margin-bottom: 1rem;

        @include respond(tab-port){
            height: 20.5rem;
            width: 20.5rem;
            margin-bottom: 2rem;
        }

        @include respond(tab-land){
            height: 24rem;
            width: 24rem;
        }

        @include respond(big-desktop){
            height: 25rem;
            width: 25rem;
        }

        &__card-side{
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            border-radius: 4rem;
            border: 1px solid #4D555C;
            backface-visibility: hidden;
            transition: all 0.8s ease;

            &-back{
                transform: rotateY(180deg);
                padding: 0 1rem;
            }
    
            &__img{
                text-align: center;
                
                & > img{
                    height: 8rem;

                    @include respond(tab-port){
                        height: 10rem;
                    }

                    @include respond(tab-land){
                        height: 13rem;
                    }
                }
            }
    
            &__data{
                text-align: center;
                font-size: 1rem;

                @include respond(tab-port){
                    font-size: 1.25rem;
                }

                @include respond(tab-land){
                    font-size: 1.4rem;
                }
    
                p:not(:last-child){
                    margin-bottom: 0.3rem;
                }
    
                p:first-child{
                    font-size: 1.2rem;
                    font-family: 'Segoe UI Bold';

                    @include respond(tab-port){
                        font-size: 1.5rem;
                    }

                    @include respond(tab-land){
                        font-size: 1.7rem;
                    }
                    
                }
            }
        }

        &:hover &__card-side-front{
            transform: rotateY(-180deg);
        }

        &:hover &__card-side-back{
            transform: rotateY(0);
        }

    }

    
}