/*
0 - 600px:  Phone
600 - 900px:    Tablet portrait
900 - 1200px:    Tablet landscape
(1200 - 1800) is where out normal styles apply
1800px + :  Big desktop

breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

.App {
  display: flex;
  flex-direction: column;
  background-color: #293744;
  padding: 0 3rem; }

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #284456;
  padding-bottom: 1rem; }
  .search-container__content {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .search-container__logo > img {
    margin-top: 2rem;
    height: 8rem; }
  .search-container__phrase {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.8rem;
    color: #fff; }
  .search-container__search {
    display: flex;
    margin-top: 2rem;
    background-color: #fff;
    width: 100%; }
    .search-container__search img {
      height: 2rem;
      margin: auto;
      cursor: pointer; }
    .search-container__search input {
      width: 90%;
      outline: none;
      padding: 1rem 0.8rem;
      font-size: 1.6rem;
      font-weight: bold;
      border: none; }
  .search-container__title-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 1.6rem; }
    .search-container__title-filter > img {
      height: 4rem;
      margin-right: 1rem; }
    .search-container__title-filter > p {
      font-size: 1.8rem;
      color: #fff;
      font-weight: bold; }

.container-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 0;
  border-bottom: 1px solid #284456; }
  .container-tags__tag {
    border: 1px solid #4D555C;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    width: 11rem;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold; }

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem 0;
  justify-content: space-between; }
  .container-cards__card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 19rem;
    width: 19rem;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;
    margin-bottom: 2rem;
    border: 1px solid #4D555C;
    background-color: #F24130; }
    .container-cards__card__img {
      text-align: center; }
      .container-cards__card__img > img {
        height: 9.5rem; }
    .container-cards__card__data {
      text-align: center;
      color: #fff;
      font-size: 1.15rem; }
      .container-cards__card__data p:not(:last-child) {
        margin-bottom: 0.5rem; }
      .container-cards__card__data p:first-child {
        font-size: 1.6rem;
        font-weight: bold; }
