/*
0 - 600px:  Phone
600 - 900px:    Tablet portrait
900 - 1200px:    Tablet landscape
(1200 - 1800) is where out normal styles apply
1800px + :  Big desktop

breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

.App {
  background-color: #293744; }

.search-container {
  display: flex;
  justify-content: center; }
  .search-container__content {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .search-container__logo > img {
    margin-top: 2rem;
    height: 8rem; }
  .search-container__phrase {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
    font-weight: 400; }
  .search-container__search {
    display: flex;
    margin-top: 2rem;
    background-color: #fff;
    width: 100%; }
    .search-container__search img {
      height: 2rem;
      margin: auto;
      cursor: pointer; }
    .search-container__search input {
      width: 90%;
      outline: none;
      padding: 1rem 0.8rem;
      font-size: 1.6rem;
      font-weight: bold;
      border: none; }
