/*
0 - 600px:  Phone
600 - 900px:    Tablet portrait
900 - 1200px:    Tablet landscape
(1200 - 1800) is where out normal styles apply
1800px + :  Big desktop

breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (min-width: 64em) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 56em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

.App {
  display: flex;
  flex-direction: column;
  background-color: #293744;
  padding: 0 3rem;
  font-family: 'Segoe UI';
  min-height: 100vh; }

@font-face {
  font-family: 'Segoe UI';
  src: url("../assets/segoeui.ttf"); }

@font-face {
  font-family: 'Segoe UI Bold';
  src: url("../assets/segoeuib.ttf"); }

@font-face {
  font-family: 'Segoe UI Semibold';
  src: url("../assets/seguisb.ttf"); }

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #284456;
  padding-bottom: 1rem; }
  .search-container__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80rem; }
  .search-container__logo > img {
    margin-top: 3rem;
    height: 8rem; }
    @media (min-width: 56em) {
      .search-container__logo > img {
        height: 10rem; } }
  .search-container__phrase {
    margin-top: 3rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    font-family: 'Segoe UI Semibold'; }
    @media (min-width: 56em) {
      .search-container__phrase {
        font-size: 2.5rem; } }
    @media (min-width: 64em) {
      .search-container__phrase {
        font-size: 3rem; } }
  .search-container__search {
    display: flex;
    margin-top: 3rem;
    background-color: #fff;
    width: 100%; }
    .search-container__search img {
      height: 2rem;
      margin: auto;
      cursor: pointer; }
      @media (min-width: 56em) {
        .search-container__search img {
          height: 2.2rem; } }
      @media (min-width: 64em) {
        .search-container__search img {
          height: 2.4rem; } }
    .search-container__search input {
      width: 90%;
      outline: none;
      padding: 1rem 0.8rem;
      font-size: 1.6rem;
      font-weight: bold;
      border: none; }
      @media (min-width: 56em) {
        .search-container__search input {
          font-size: 2rem; } }
      @media (min-width: 64em) {
        .search-container__search input {
          font-size: 2.4rem; } }
  .search-container__title-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem; }
    .search-container__title-filter > img {
      height: 2rem;
      margin-right: 1rem; }
      @media (min-width: 56em) {
        .search-container__title-filter > img {
          height: 3rem; } }
    .search-container__title-filter > p {
      font-size: 1.8rem;
      color: #fff;
      font-family: 'Segoe UI Semibold'; }
      @media (min-width: 56em) {
        .search-container__title-filter > p {
          font-size: 2.2rem; } }

.container-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 0;
  border-bottom: 2px solid #284456; }
  .container-tags__tag {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4D555C;
    border-radius: 2rem;
    padding: 0.8rem 1rem;
    margin: 0.8rem 1rem;
    width: 8.5rem;
    height: 3rem;
    font-size: 1.05rem;
    text-transform: uppercase;
    font-family: 'Segoe UI Bold';
    cursor: pointer; }
    @media (min-width: 56em) {
      .container-tags__tag {
        width: 12rem;
        height: 4rem;
        font-size: 1.4rem; } }
    @media (min-width: 64em) {
      .container-tags__tag {
        width: 13.4rem;
        height: 4.5rem;
        font-size: 1.65rem;
        margin: 1rem 1.2rem; } }
    .container-tags__tag__delete-icon {
      display: flex;
      align-items: center;
      font-size: 1.8rem;
      margin-left: auto; }
      @media (min-width: 56em) {
        .container-tags__tag__delete-icon {
          font-size: 2.2rem; } }
      @media (min-width: 64em) {
        .container-tags__tag__delete-icon {
          font-size: 2.4rem; } }
    .container-tags__tag__focus {
      border: 4px solid #4D555C; }

.container-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 0;
  justify-content: space-around; }
  .container-cards__card {
    position: relative;
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 16rem;
    width: 15.5rem;
    margin-bottom: 1rem; }
    @media (min-width: 56em) {
      .container-cards__card {
        height: 20.5rem;
        width: 20.5rem;
        margin-bottom: 2rem; } }
    @media (min-width: 64em) {
      .container-cards__card {
        height: 24rem;
        width: 24rem; } }
    @media (min-width: 112.5em) {
      .container-cards__card {
        height: 25rem;
        width: 25rem; } }
    .container-cards__card__card-side {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      border-radius: 4rem;
      border: 1px solid #4D555C;
      backface-visibility: hidden;
      transition: all 0.8s ease; }
      .container-cards__card__card-side-front {
        background-color: #F24130; }
      .container-cards__card__card-side-back {
        transform: rotateY(180deg);
        background-color: brown;
        padding: 0 1rem; }
      .container-cards__card__card-side__img {
        text-align: center; }
        .container-cards__card__card-side__img > img {
          height: 8rem; }
          @media (min-width: 56em) {
            .container-cards__card__card-side__img > img {
              height: 10rem; } }
          @media (min-width: 64em) {
            .container-cards__card__card-side__img > img {
              height: 13rem; } }
      .container-cards__card__card-side__data {
        text-align: center;
        color: #fff;
        font-size: 1rem; }
        @media (min-width: 56em) {
          .container-cards__card__card-side__data {
            font-size: 1.25rem; } }
        @media (min-width: 64em) {
          .container-cards__card__card-side__data {
            font-size: 1.4rem; } }
        .container-cards__card__card-side__data p:not(:last-child) {
          margin-bottom: 0.3rem; }
        .container-cards__card__card-side__data p:first-child {
          font-size: 1.2rem;
          font-family: 'Segoe UI Bold'; }
          @media (min-width: 56em) {
            .container-cards__card__card-side__data p:first-child {
              font-size: 1.5rem; } }
          @media (min-width: 64em) {
            .container-cards__card__card-side__data p:first-child {
              font-size: 1.7rem; } }
    .container-cards__card:hover .container-cards__card__card-side-front {
      transform: rotateY(-180deg); }
    .container-cards__card:hover .container-cards__card__card-side-back {
      transform: rotateY(0); }

.loading {
  margin: 0 auto;
  height: 5rem;
  width: 5rem;
  border: 3px solid gray;
  border-top: 3px solid aqua;
  border-radius: 50%;
  animation: LoadingRotate 2s infinite linear; }

@keyframes LoadingRotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
