.container-tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0;
    border-bottom: 2px solid #284456;

    &__tag{
        border: 1px solid #4D555C;
        border-radius: 2rem;
        padding: 0.8rem 1rem;
        margin: 0.5rem 1rem;
        width: 11rem;
        text-align: center;
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: bold;
    }
}